.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.score-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.score-table th, .score-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.points-form {
    margin-top: 20px;
}

.btn {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-class-form {
    margin-top: 20px;
}

.user-info {
    margin-top: 20px;
}

a.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
}

/* Apply styles to the login container */
.login-container {
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style the login heading */
.login-heading {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Style the login form */
.login-form {
    display: flex;
    flex-direction: column;
}

/* Style the login input fields */
.login-input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the login button */
.login-button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Apply styles to the radio buttons */

/* Apply styles to prevent text selection on radio button labels */
.points-form input[type="radio"] + label {
    user-select: none;
}
