html{
    height: 100%;
    margin: 0;
    background: url("images/pexels-eberhard-grossgasteiger-1287075.jpg");    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0; 
    padding-top: 10rem;
}

header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(7px);
    z-index: 99;
    top:0;
    left:0;
    box-shadow: 0 0 10px #0000;
    background-color: rgba(255, 255, 255, 0.04);
}
.logo{
    border-radius: 85px;
    width: 45%;
    text-align: center;
    border-color: black;
}
.logo h1{
    color: rgba(223, 12, 206, 0.6);
}
.logo h1 span{
    font-weight: bolder ;
    color: #402188fe;
}
#chk1{
    display: none;
}
img{
    cursor: pointer;
}
header .logo{
    flex: 1;
    color: #000000d5;
    margin-left: 50px;
    /*text-transform: uppercase;*/
}

header ul{
    flex: 2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color: rgb(149, 82, 178);
    font-weight: 600px;
    text-transform: uppercase;
    padding: 10px 15px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5rem;
    display: none;
}
main.table{
    width: 82vw;
    height: 60vh;
    background-color: #fff5;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
    margin: 0 auto;
    
}

.table_header{
    width: 100%;
    height: 10%;
    background-color:#fff4;
    padding: .8rem 1rem;
}
.table_header strong{
    border-radius: 56px;
    font-size: 1.5 rem;
    color:  rgb(177, 16, 192);
    padding: 7px;
    
}
.table_body{
    width: 95%;
    background-color: #fffb;
    max-height: calc(89% - .8rem);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table_body::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
.table_body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table_body:hover::-webkit-scrollbar-thumb{
    visibility: visible;
}
table{
    width: 100%;
}
td {
    width: 150vw;
    
}
.A{
    padding-left: 40px;
}
td img{
    height: 36px;
    width: 36px;
    margin-right: .5rem;
    border-radius: 50%;
    vertical-align: middle;
}
table, th,td{
    border-collapse: collapse;
    padding: 1rem;
    
}
thead th{
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}
tbody tr:nth-child(even){
    background-color: rgba(90, 77, 77,0.1);
}
tbody tr:hover{
    background-color: rgba(54, 51, 51, 0.4);
}


.button{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    border: 1px solid black;
    align-items: center;
    margin: auto;
    margin-top: 50px;
    background-color: #fff5;
    box-shadow: inset -5px -5px rgba(0,0,0,.5);
    border-radius: 25px;
    padding-top: 20px;
    align-items: center;
    backdrop-filter: blur(7px);
}

.btn{
    display: inline;
    justify-content: space-around;
    margin-top: 50px ;
    padding: 10px;
    width: 150px;
    border-radius: 30px;
    background: white;
    font-size: 15px;
    font-weight: bold;
}
.btn:hover{
    color: white;
    background-color: transparent;
}
#showSecondFormButton, #showFormButton{
    margin-left: 150px;
}
label {
    color: white;
    font-size: 1rem;
    border-bottom: 4px solid rgba(255,255,255,.3);
    margin: 50px;
    width: 50%;
    text-decoration: none;
}
.field{
    padding: 10px;
    padding-left: 5px;
    margin: 10px;
    width: 45%;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0,0,0,.3);
    box-shadow: inset -3px -3px rgba(0,0,0,.3);
    font-size: .5 rem;
    color: white;
}
.field_option{
    padding: 10px;
    padding-left: 5px;
    margin: 10px;
    width: 45%;
    margin-top: 30px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: rgba(0,0,0,.6);
    box-shadow: inset -3px -3px rgba(0,0,0,.3);
    font-size: .5 rem;
    color: black;
}
.submit{
    padding: 10px;
    margin-left: 90px;
    margin-top: 50px;
    width: 50%;
    background-color: rgba(0,0,0,.3);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
}
.submit:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,.1);
    color: white;
}
::placeholder{
    opacity: .7;
    color: white;
}
input[type="date"] {
    background-color: rgba(255,255,255,.1);
    color: #ffffff;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    
}

  /* Hide initially hidden elements */
.hidden {
    display: none;
}
#submittedDetails{
    align-content: center;
    
    color: white;
    position: absolute;
    bottom:-300px;
    left: 500px;
    bottom:-350px;
    padding: 50px;
    font-size: 25px;
}
.modal {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
        }