{% extends "layout.html" %}
{% block body %}
<header>
    <input type="checkbox" name="" id ="chk1">
    <div class="logo"><h1>Assign<span>Hub.io</span></h1></div>
        <ul>
            <li><a href="/manager"> Home</a></li>
            <li><a href="/about"> About</a></li>
            <li><a href="/contact"> Contact</a></li>
            <li><a href="#"><img src="{{ url_for('static', filename='/images/user-solid.svg') }}" alt="" height = "30"></a></li>
            <!--<li>{{ username }}</li> -->
            <li><a href="/logout"> <img src="{{ url_for('static', filename='/images/power-off-solid.svg') }}" alt="" height = "30"></a></li>
        </ul>

    <div class = "menu">
        <label for="chk1"> <img src="{{ url_for('static', filename='/images/bars-solid.svg') }}" alt=""></label>
    </div>
</header>
<div class="container_about">
    <div class = "head">
        <h3> About</h3>
    </div>
    <p>AssignHub specialize in optimizing task allocation for software development teams. Our dynamic algorithm considers skills, availability, and workload to ensure fair distribution of tasks and minimize bottlenecks. With us, your team's productivity will soar to new heights. Get started today!</p>
</div>
{% endblock %}