{% extends "layout.html" %}
{% block body %}
<header>
        <input type="checkbox" name="" id ="chk1">
        <div class="logo"><h1>Assign<span>Hub.io</span></h1></div>
        
            <ul>
                <li><a href="#"> Home</a></li>
                <li><a href="#"> About</a></li>
                <li><a href="#"> Contact</a></li>
                <li><a href="#"><img src="{{ url_for('static', filename='/images/user-solid.svg') }}" alt="" height = "30"></a></li> 
                <li><a href="/logout"> <img src="{{ url_for('static', filename='/images/power-off-solid.svg') }}" alt="" height = "30"></a></li>
            </ul>
        <div class = "menu">
            <label for="chk1"> <img src="{{ url_for('static', filename='/images/bars-solid.svg') }}" alt=""></label>
        </div>
    </header>
    <main class = "table">
        <section class = "table_header">
            <h1><strong>Schedule</strong></h1>
        </section>
        <section class = "table_body">
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Employees</th>
                        {% for i in range(7) %}
                            <th>{{ dates[i][1] }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for data in caldata %}
                    <tr>
                        <td class="A">{{ data[0] }}</td>
                        <td><img src="{{ url_for('static', filename='/images/user-regular.svg') }}" alt=""> {{ data[1] }}</td>
                        {% for i in range(7) %}
                            <td class="A"> {{ data[i+2] }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </main>
       <div class="buttons">
            <!-- Add Task Button -->
            <!-- <button id="showFormButton" class="btn">Add Task</button> -->
            <!-- Task Form -->
            <div id="forms" class="button">
                <div id="detailsForm" class="">
                    <form id="inputForm" method = "post", action="/assign">
                        <label for="field1">Task Name:</label>
                        <input type="text" class="field" id="field1" name="f_task_name" required><br>
                        <label for="field2">Description:</label>
                        <input type="text" class="field" id="field2" name="f_description" required><br>
                        <label for="field3">Deadline:</label>
                        <input type="date" class="field" id="field3" name="f_deadline" required><br>
                        <label for="field4">Domain:</label>
                        <select id="field4" class="field" name="f_domain" required>
                            <option value="BackEnd">BackEnd</option>
                            <option value="FrontEnd">FrontEnd</option>
                            <option value="Testing">Testing</option>
                            <option value="UI/UX">UI/UX</option>
                        </select><br>
                        <button type="submit" class="submit btn">Add Task</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

