{% extends "layout_admin.html" %}
{% block body %}
    <div class="container">
        <table class="score-table">  
        </table>
    </div>

    <div class="container">
    </div>
    <div class="container">
        <h4>Do you want to add a new task?</h4>
        <form action="/add_task" method="post" class="add-class-form">
            <button type="submit" class="btn">Add</button>
        </form>
    </div>
    <p class="user-info">You are logged in as {{ username }}</p>
    <a href="/logout" class="btn">Logout</a>
{% endblock %}

